<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Código Fonte</title>

    <style>
        code {
            font-size: 26px;
        }
    </style>
</head>
<body>
    <h1>Código Fonte</h1>

    <pre>
        <code>
            #!/usr/bin/python3

            import cod3r

            #
            #   Imprimir a nota do aluno
            #

            nota = 7 # nota aprovação

            if nota >= 7:
                print("Aprovado")
            else:
                print("Reprovado")
        </code>
    </pre>
</body>
</html>