<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Código Fonte</title>

    <style>
        code {
            font-size: 26px;
        }
    </style>
</head>
<body>
    <h1>Código Fonte</h1>

    <pre style='background-color:#1E1E1E'><code>
            <span style="color:#4F9153"><b>#!/usr/bin/python3</b></span>

            <span style="color:#864B7E"><b>import</b></span> cod3r

            <span style="color:#4F9153"><b>#
            #   Imprimir a nota do aluno</b></span>
            <span style="color:#4F9153"><b>#
</b></span>
            nota<span style="color:#D4D4D4"><b> = </b></span><span style="color:#407A8E"><b>7</b></span> <span style="color:#4F9153"><b># nota aprovação</b></span>

            <span style="color:#864B7E"><b>if</b></span> nota<span style="color:#D4D4D4"><b> >= </b></span><span style="color:#407A8E"><b>7</b></span><span style="color:#D4D4D4"><b>:
</b></span>                <span style="color:#D6B85F"><b>print</b></span><span style="color:#D4D4D4"><b>(</b></span><span style="color:#C8703F"><b>"Aprovado"</b></span><span style="color:#D4D4D4"><b>)</b></span>
            <span style="color:#864B7E"><b>else</b></span><span style="color:#D4D4D4"><b>:
</b></span>                <span style="color:#D6B85F"><b>print</b></span><span style="color:#D4D4D4"><b>(</b></span><span style="color:#C8703F"><b>"Reprovado"</b></span><span style="color:#D4D4D4"><b>)</b></span>
        </code></pre>
</body>
</html>